* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
}

.navbar .logo-container {
    display: flex;
    align-items: center;
}

.navbar img {
    max-height: 70px;
    margin-right: 15px;
}

.navbar h1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-left: 20px;
    font-size: 24px;
    padding-right:20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.navbar a:hover {
    text-decoration: underline; /* add an underline when the link is hovered */
    text-underline-offset: 5px; /* adjust the space between the text and the underline */

  }
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar .logo-container {
        margin-bottom: 10px;
    }

    .navbar ul {
        justify-content: space-around;
        width: 100%;
    }
}
h1{
    text-align: center;
    margin-top: 15px;

}
.footer{
    text-align: center;
}